* {
    margin: 0 ;
    padding: 0 ;
    font-family: "Chakra Petch", sans-serif;
    box-sizing: border-box;
}

@media (min-width: 61.99875em) {
    .card-service {
        position: relative;
    }
}

*, ::after, ::before {
    box-sizing: inherit;
}

@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        width: 1200px !important;
    }
}

ul {
    margin-bottom: 0;
}

main {
    display: block;
}

::-webkit-scrollbar {
    color: #252532;
}

body {
    color: #fff;
    line-height: 1;
    font-family: "Chakra Petch";
    font-size: .875rem;
    background-color: #18181b;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.__container {
  max-width: 1200px;
  width: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  margin: 0 auto;
  gap: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
}

.assett {
    position: absolute;
    top: 0;
    right: 0;
}

.assets {
    position: absolute;
    left: 0;
    margin-top: 250px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: background-color 0.3s, color 0.3s;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37,37,50,.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    opacity: 0;
}

.header._header-scroll::before {
    opacity: 1;
}

.container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: transparent !important;
    transition: background-color 0.7s, color 0.7s;
}

.dark {
    background-color: rgba(37, 37, 50, 0.7) !important;
    color: white;
    padding: 0;
}

.nav-link,
.navbar-brand,
.navbar-text,
.nav-link.active,
.dropdown-item,
.btn{
    color: #d1d1d1 !important;
    font-size: 16px;
}

.collapse {
    width: 1200px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn {
    width: 126px;
    height: 52px;
    background-size: 1px 1px,calc(100% - 2px) 1px,1px 1px,1px calc(100% - 2px);
    border-color: transparent;
    background-image: radial-gradient(circle at 100% 100%,transparent 0,#0db9f0 0,#0db9f0 1px,transparent 1px),linear-gradient(to right,#0db9f0,#e85ce9),radial-gradient(circle at 0 100%,transparent 0,#e85ce9 0,#e85ce9 1px,transparent 1px),linear-gradient(to bottom,#e85ce9,#e95de9),radial-gradient(circle at 0 0,transparent 0,#e95de9 0,#e95de9 1px,transparent 1px),linear-gradient(to left,#e95de9,#0cb9f0),radial-gradient(circle at 100% 0,transparent 0,#0cb9f0 0,#0cb9f0 1px,transparent 1px),linear-gradient(to top,#0cb9f0,#0db9f0);
    background-repeat: no-repeat;
    background-position: top left,top center,top right,center right,bottom right,bottom center,bottom left,center left;
}

.btn:hover {
    background-image: radial-gradient(circle at 100% 100%,transparent 0,#0db9f0 0,#0db9f0 1px,transparent 1px),linear-gradient(to right,#0db9f0,#e85ce9),radial-gradient(circle at 0 100%,transparent 0,#e85ce9 0,#e85ce9 1px,transparent 1px),linear-gradient(to bottom,#e85ce9,#e95de9),radial-gradient(circle at 0 0,transparent 0,#e95de9 0,#e95de9 1px,transparent 1px),linear-gradient(to left,#e95de9,#0cb9f0),radial-gradient(circle at 100% 0,transparent 0,#0cb9f0 0,#0cb9f0 1px,transparent 1px),linear-gradient(to top,#0cb9f0,#0db9f0);
    background-size: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navbar-nav {
    width: 520px;
    display: flex;
    align-items: center;
}


.dropdown-menu {
    background-color: #252532 !important;
}

.navbar-collapse {
    display: flex;
    width: 100%;
}

.btn-lg {
    width: 126px;
    height: 52px;
}

.page {
    padding-top: 6.5rem;
}

.hero {
    position: relative;
    padding-top: 1rem;
    display: flex;
}



.hero__container {
    position: relative;
    display: flex;
    align-items: center;
}

.hero__column {
    flex: 0 1 50%;
}

.hero__column:last-child {
    align-self: flex-end;
}

.hero__content {
    margin-bottom: 2.5rem;
}

.hero__tittle {
    font-size: 64px;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: -.005em;
    margin-bottom: .75rem;
}

.hero__text {
    margin: 0;
    color: #d1d1d1;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 2rem;
    max-width: 28.125rem;
}

.hero__image {
    object-position: bottom;
}

.hero__image::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 70%;
    width: 40%;
    height: 50%;
    background: -o-linear-gradient(351.46deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    background: linear-gradient(98.54deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    -webkit-filter: blur(105px);
    filter: blur(105px);
    border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
    -webkit-transform: translate(-50%,-50%) rotate(-30deg);
    -ms-transform: translate(-50%,-50%) rotate(-30deg);
    transform: translate(-50%,-50%) rotate(-30deg);
}

.entered {
    z-index: 2;
    width: 100%;
    position: relative;
}

.btn-hero {
    text-transform: uppercase;
    width: 206px;
    height: 50px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 700;
    background-image: radial-gradient(circle at 100% 100%,transparent 0,#0db9f0 0,#0db9f0 1px,transparent 1px),linear-gradient(to right,#0db9f0,#e85ce9),radial-gradient(circle at 0 100%,transparent 0,#e85ce9 0,#e85ce9 1px,transparent 1px),linear-gradient(to bottom,#e85ce9,#e95de9),radial-gradient(circle at 0 0,transparent 0,#e95de9 0,#e95de9 1px,transparent 1px),linear-gradient(to left,#e95de9,#0cb9f0),radial-gradient(circle at 100% 0,transparent 0,#0cb9f0 0,#0cb9f0 1px,transparent 1px),linear-gradient(to top,#0cb9f0,#0db9f0);
    background-size: auto;
    border: none;
}

.btn-hero:hover {
    background: linear-gradient(90deg,#0cbaf1 0,#e95ce9 100%);
    transition: opacity .3s ease 0s;
}

.hero__action {
    display: flex;
    justify-content: space-between;
    max-width: 520px;
}

.hero__clients {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.clients__item {
    margin-right: -.850rem;
}

.clients__text {
    position: relative;
}

.underline::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -.5rem;
    left: 15%;
    width: 3rem;
    height: .4375rem;
    background: url(./img/underline.png) center no-repeat;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.video__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__button {
    position: absolute;
}

.choose__container {
    position: relative;
    padding: 0;
}

.choose__body {
   padding: 3.4375rem 4.0625rem;
   display: flex;
   justify-content: space-between;
   background-color: #252532;
   height: 100%;
}

.choose_column {
    height: 100%;
}

.choose_tittle {
    font-size: 20px;
    font-weight: 400px;
    margin-top: 40px;
}

.choose__text {
    font-weight: 400;
    font-size: 14px;
    color: #B0B0B2;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 20px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.about__column {
    width: 100%;
}

.about__image {
    position: relative;
}

.gradient-bg::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 50%;
    background: -o-linear-gradient(351.46deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    background: linear-gradient(98.54deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    -webkit-filter: blur(105px);
    filter: blur(105px);
    border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
    -webkit-transform: translate(-50%,-50%) rotate(-30deg);
    -ms-transform: translate(-50%,-50%) rotate(-30deg);
    transform: translate(-50%,-50%) rotate(30deg);
}

.gradient-back::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 20%;
    background: -o-linear-gradient(351.46deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    background: linear-gradient(98.54deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    -webkit-filter: blur(105px);
    filter: blur(105px);
    border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
    -webkit-transform: translate(-50%,-50%) rotate(-30deg);
    -ms-transform: translate(-50%,-50%) rotate(-30deg);
    transform: translate(-50%,-50%) rotate(150deg);
}

.gradient-person::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 60%;
    width: 40%;
    height: 20%;
    background: -o-linear-gradient(351.46deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    background: linear-gradient(98.54deg,rgba(28,196,249,.8) .72%,rgba(254,105,254,.8) 90.69%);
    -webkit-filter: blur(105px);
    filter: blur(105px);
    border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
    -webkit-transform: translate(-50%,-50%) rotate(-30deg);
    -ms-transform: translate(-50%,-50%) rotate(-30deg);
    transform: translate(-50%,-50%) rotate(170deg);
}

.about__image__background {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about__image__clipdrop {
    position: relative;
    z-index: 1;
    width: 100%;
}

.about__tittle {
    padding-top: 70px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.3125;
    font-weight: 500;
    letter-spacing: .14em;
    text-transform: uppercase;
    display: inline-block;
    background: -webkit-gradient(linear,left top,right top,from(#0cbaf1),to(#e95ce9));
    background: -o-linear-gradient(left,#0cbaf1 0,#e95ce9 100%);
    background: linear-gradient(90deg,#0cbaf1 0,#e95ce9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    z-index: 2;
}

.about__subtittle {
    line-height: 1.2;
    font-size: 3rem;
    margin: 0;
    margin-top: 35px;
    z-index: 2;
    position: relative;
}

.list__null {
    padding: 0;
    margin: 0;
}

.about__item {
    margin-bottom: .875rem;
    font-size: 1rem;
    line-height: 1.75;
}

.about__text {
    margin-top: 30px !important;
}

.text {
    margin: 0;
    line-height: 200%;
    color: #B0B0B2;
    position: relative;
    z-index: 2;
}

.about__list {
    margin-top: 30px;
    z-index: 2;
    position: relative;
}

.list__null li {
    list-style: none;
}

.list-item {
    padding-left: 1.75rem;
    background: url(../img/Check\ Vector.png) left center / 16px 16px no-repeat;
}

.btn-about {
    margin-top: 20px;
    text-transform: uppercase;
    width: 206px;
    height: 50px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 700;
    background-image: radial-gradient(circle at 100% 100%,transparent 0,#0db9f0 0,#0db9f0 1px,transparent 1px),linear-gradient(to right,#0db9f0,#e85ce9),radial-gradient(circle at 0 100%,transparent 0,#e85ce9 0,#e85ce9 1px,transparent 1px),linear-gradient(to bottom,#e85ce9,#e95de9),radial-gradient(circle at 0 0,transparent 0,#e95de9 0,#e95de9 1px,transparent 1px),linear-gradient(to left,#e95de9,#0cb9f0),radial-gradient(circle at 100% 0,transparent 0,#0cb9f0 0,#0cb9f0 1px,transparent 1px),linear-gradient(to top,#0cb9f0,#0db9f0);
    background-size: auto;
    border: none;
}

.about__video__link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        top: 95%;
        right: 0;
}

.title {
    margin: 0;
    font-size: 1rem;
    line-height: 1.3125;
    font-weight: 500;
    letter-spacing: .14em;
    text-transform: uppercase;
    display: inline-block;
    background: -webkit-gradient(linear,left top,right top,from(#0cbaf1),to(#e95ce9));
    background: -o-linear-gradient(left,#0cbaf1 0,#e95ce9 100%);
    background: linear-gradient(90deg,#0cbaf1 0,#e95ce9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 2;
    position: relative;
}

.subtitle {
    margin: 0;
    font-weight: 600;
    line-height: 1.2083333333;
    font-size: 3rem;
}

.service__top {
    display: flex;
    margin-top: 100px;
}

.service__column {
    width: 100%;
}

.service__text {
    position: relative;
}

.service__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row {
    justify-content: space-between;
    margin: 0;
}

.col {
    padding: 0;
    margin-top: 30px;
}

.card {
    width: 80%;
    height: 100%;
    background-color: #252532;
    margin-top: 30px;
}

.card-img-top {
    width: 45px;
    height: 45px;
    padding: 1.5rem;
    padding-top: 3rem;
}

.card-body {
    padding: 1.5rem;
}

.adavantages__container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.advantages__column:first-child {
    width: 50%;
}

.dropdownn {
    position: relative;
    margin: 10px 0; 
    margin-top: 50px;
    
}

.dropdownn-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s;
}

.show {
    max-height: 1000px;
    transition: max-height 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.dropdownn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownn-content a:hover {
    background-color: #f1f1f1;
}

.dropdownn_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dropdownn__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #d1d1d1;
}

.advantages__media {
    position: relative;
}

.advantages__image__clipdrop {
    position: relative;
    z-index: 1;
    width: 100%;
}

.advantages__image__background {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;

}

.video__container {
    margin-top: 110px;
    position: relative;
    z-index: 2;
}

.video__top {
    text-align: center;
    z-index: 2;
    position: relative;
}

.video-top__subtitle {
    margin-top: 20px;
}

.video__body {
    margin-top: 50px;
    background-image: url(../img/video_back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-size: auto;
    background-position: center;
    height: 500px;
    border-radius: 10px;
}

.video {
    margin-top: 50px;
    margin-left: 50px;
}

.video__background {
    position: absolute;
}

.video-body__text {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: default !important;
    width: 90px;
    height: 25px;
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-weight: 500;
    z-index: 2;
    position: relative;
}

.video-body__title {
    margin-top: 20px;
    z-index: 2;
    position: relative;
}

.video-body__back {
    position: absolute;
    z-index: 1;
    margin-top: -100px;
}

.video-body__button__link {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: 46%;
}

.video-body__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.video-body__media {
    position: absolute;
    bottom: 3%;
}

.video-body__media__button {
    margin-top: 20px;
    text-transform: uppercase;
    width: 206px;
    height: 50px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 700;
    background-image: radial-gradient(circle at 100% 100%,transparent 0,#0db9f0 0,#0db9f0 1px,transparent 1px),linear-gradient(to right,#0db9f0,#e85ce9),radial-gradient(circle at 0 100%,transparent 0,#e85ce9 0,#e85ce9 1px,transparent 1px),linear-gradient(to bottom,#e85ce9,#e95de9),radial-gradient(circle at 0 0,transparent 0,#e95de9 0,#e95de9 1px,transparent 1px),linear-gradient(to left,#e95de9,#0cb9f0),radial-gradient(circle at 100% 0,transparent 0,#0cb9f0 0,#0cb9f0 1px,transparent 1px),linear-gradient(to top,#0cb9f0,#0db9f0);
    background-size: auto;
    border: none;
 }

.clients__container {
    margin-top: 100px;
    position: relative;
}

.clients__body__avatar {
    position: absolute;
}

.clients__body {
    display: flex;
    justify-content: center;
}

.clients__body__back {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.clients__body__avatar1 {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 20%;
    top: 20%;
}
.clients__body__avatar2 {
    position: absolute;
    top: 27%;
    left: 55%;
}
.clients__body__avatar3 {
    position: absolute;
    top: 48%;
    right: 10%;
}
.clients__body__avatar4 {
    position: absolute;
    top: 70%;
    left: 32%;
}
.clients__body__avatar5 {
    position: absolute;
    top: 83%;
    right: 19%;
}
.clients__body__avatar6 {
    position: absolute;
    left: 10%;
    top: 50%;
}

.price__container {
    margin-top: 300px;
}

.price-top__subtitle {
    margin-top: 20px;
}

.price-top__text {
    margin-top: 20px;
}

.price__body {
    background-color: rgba(37, 37, 50, 0.81);
    position: relative;
    display: flex;
}

.price__column:last-child {
    width: 100%;
}

.price-body__doc::before {
    position: relative;
}

.price-body__card {
    display: flex;
    padding: 2rem;
}

.price-body__doc {
    margin-left: 20px;
    width: 500px;
}

.price-body__person__img {
    width: 100%;
    bottom: 0;
}

.price-body__subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 321px;
    height: 222px;
    background-color: rgba(37, 37, 50, 1);
    position: absolute;
    right: 15%;
    top: 90%;
    z-index: 2;
}

.subscription__get {
    margin-top: 10px;
    text-transform: uppercase;
    width: 206px;
    height: 50px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 700;
    background-image: radial-gradient(circle at 100% 100%,transparent 0,#0db9f0 0,#0db9f0 1px,transparent 1px),linear-gradient(to right,#0db9f0,#e85ce9),radial-gradient(circle at 0 100%,transparent 0,#e85ce9 0,#e85ce9 1px,transparent 1px),linear-gradient(to bottom,#e85ce9,#e95de9),radial-gradient(circle at 0 0,transparent 0,#e95de9 0,#e95de9 1px,transparent 1px),linear-gradient(to left,#e95de9,#0cb9f0),radial-gradient(circle at 100% 0,transparent 0,#0cb9f0 0,#0cb9f0 1px,transparent 1px),linear-gradient(to top,#0cb9f0,#0db9f0);
    background-size: auto;
    border: none;
}

.partners__container {
    margin-top: 300px;
}

.partners__top {
    text-align: center;
}

.partners__body {
    margin-top: 50px;
}

.partners__content {
    position: relative;
}

.partners__logo {
    position: absolute;
}

.partners__content__logo {
    animation: bounce ease 8s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.partner1 {
    top: 50%;
    left: 2%;
}

.partner2 {
    top: 30%;
    left: 7%;
}

.partner3 {
    top: 12%;
    left: 19%;
}

.partner4 {
    top: 2%;
    left: 44%;
}

.partner5 {
    top: 12%;
    right: 22%;
}

.partner6 {
    top: 30%;
    right: 9%;
}

.partner7 {
    top: 50%;
    right: 4%;
}

.articles__asset {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}

.articles__top {
    display: flex;
    justify-content: space-between;
}

.body__carousel {
    margin-top: 100px;
    width: 70%;
}

.articles__body {
    display: flex;
    justify-content: center;
}

.input {
    width: 100%;
}

.input__container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    background: -o-linear-gradient(left,#0cbaf1 0,#e95ce9 100%);
    background: linear-gradient(90deg,#0cbaf1 0,#e95ce9 100%);
    border-radius: 4px;
    padding: 2.5rem 4.375rem 1.875rem;
    margin-top: 150px;
    justify-content: space-between;
    height: 50px;
}

.input__subtitle {
    margin: 0;
    font-weight: 600;
    line-height: 1.2083333333;
    font-size: 2rem;
}

.form-subscribe {
    width: 22.8125rem;
    height: 3.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 22.8125rem;
    flex: 0 1 22.8125rem;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.form-subscribe__input {
    border: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.07);
    color: #fff;
    padding-left: 2rem;
}

.form-subscribe__button {
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 50%;
    right: .1875rem;
    transform: translateY(-50%);
    padding: 1.125rem;
    background: rgba(255,255,255,.21);
}

::placeholder {
    color: #fff;
}

.footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    margin-top: 100px;
}

.footer__container {
    max-width: 75rem;
}

.footer__top {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
    position: relative;
}

.footer__top::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: -o-linear-gradient(left,#0cbaf1 0,#e95ce9 100%);
    background: linear-gradient(90deg,#0cbaf1 0,#e95ce9 100%);
}

.footer__column:first-child {
    flex: 0 1 35%;
}

.footer__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 2.5rem;
    gap: 2.5rem;
}

.footer__column:last-child {
    flex: 0 1 65%;
}

.footer__content {
    display: flex;
    gap: 2.5rem 1.25rem;
    justify-content: space-between;
}

.content-footer__title {
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1rem;
}

.list__null {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.content-footer__item:not(:last-child) {
    margin-bottom: 1rem;
}

.content-footer__item {
    font-weight: 300;
    line-height: 1.75;
}

.footer__copyright {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75;
}

.footer__asset {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.price-body__person  {
    flex: 1 1 auto;
}